#System
.DS_Store
Thumbs.db

#env
.env
.env.*.local
config.php

#npm, composer
/vendor/
node_modules/

#VSCode
.vscode/
*.code-workspace

#temp, sql, cache
*.temp
*.tmp
.phpunit.result.cache
*.sql
*.sqlite
*.sqlite3